[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}

</style>

<div class="container" id="app" v-cloak>
  <div class="hero is-info"> 
    <div class="hero-body">
      <div class="container is-info">
        <h1 class="title">Checklist</h1>
        <h3 class="subtitle">subtitle</h3>
      </div>
    </div>
  </div>
  <!-- SEARCH BAR -->
  <div> 
    <input class="input" type="text" placeholder="Search Species" v-model="search_query" @keyup="search">
    <!-- add search icon ^ -->
  </div>
  <!-- TABLE -->
  <div class="section"> 
    <table class="table is-fullwidth is-striped is-hoverable is-fullwidth"> 
      <thead>
        <tr>
          <th>Specie</th>
          <th>Count</th>
          <th>Enter your Observations</th>
        </tr>
        </thead>
        <tbody> 
          <tr v-for="checklist in table_data" :key="checklist.id">
            <td>{{ checklist.specie }}</td>
            <td>{{ checklist.total_count }}</td>
            <td>
              <div class="columns">
                <div class="column">
                    <input class="input" type="number" value="0" min="0">
                </div>
                <div class="column">
                    <button class="button is-small is-primary" type="button">Submit</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let checklist_url = "[[=XML(checklist_url)]]";
    let load_checklists_url = "[[=XML(load_checklists_url)]]";
    let search_species_url = "[[=XML(search_species_url)]]";
</script>
<script src="js/checklist.js"></script>
[[end]]


