[[extend 'layout.html']]

<style>
    [v-cloak] {
        display: none;
    }
    .action-button {
        width: 150px;  
    }
    .button-column {
        display: flex;
        justify-content: right;
    }
</style>

<div class="section" id="app" v-cloak>
    <!-- PAGE HEADER -->
  <div class="hero margin-bottom is-info is-small"> 
    <div class="hero-body">
      <div class="container is-info">
        <h1 class="title">My Checklists</h1>
        <h3 class="subtitle">Welcome to your personal birdwatching journey! Here, you can view and manage your checklist of bird sightings. Happy birding!</h3>
      </div>
    </div>
  </div>
  <!-- SEARCH BAR AND MY-CHECKLIST PAGE REDIRECT BUTTON -->
  <div class="m-3"> 
    <div class="level">
      <div class="level-left">
        <div class="field has-addons">
          <p class="control has-icons-left">
            <input class="input is-rounded is-focused is-info custom-width is-medium" type="text" placeholder="Search Species" v-model="search_query" @keyup="search">
            <span class="icon is-medium is-left">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="level-right">
        <a href="[[=URL('checklist')]]" class="button is-medium is-info">Go to Main Checklist</a>
      </div>
  </div>
  <!-- TABLE OF USER'S CHECKLISTS -->
  <div class="section"> 
    <table class="table is-fullwidth is-striped is-hoverable"> 
      <thead>
        <tr>
          <th>Specie</th>
          <th>Count</th>
          <th></th>
        </tr>
        </thead>
        <tbody> 
          <tr v-for="checklist in table_data" :key="checklist.id">
            <td>{{ checklist.specie }}</td>
            <td>{{ checklist.count }}</td>
            <td>
              <div class="columns">
                <div class="column has-text-centered button-column">
                   <a href="[[=URL('edit_checklist')]]" class="button is-small is-link action-button">Edit</a>
                </div>
                <div class="column has-text-centered button-column">
                    <button class="button is-small is-danger is-light action-button" type="button" @click="delete_checklist(checklist.id, checklist.specie, checklist.count)">Delete</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>

[[block page_scripts]]
<script>
    let checklist_url = "[[=XML(checklist_url)]]";
    let my_checklist_url = "[[=XML(my_checklist_url)]]";
    let load_checklists_url = "[[=XML(load_checklists_url)]]";
    let load_user_checklists_url = "[[=XML(load_user_checklists_url)]]";
    let search_my_species_url = "[[=XML(search_my_species_url)]]";
    let delete_checklist_url = "[[=XML(delete_checklist_url)]]";
    let edit_checklist_url = "[[=XML(edit_checklist_url)]]";
</script>
<script src="js/my_checklist.js"></script>
[[end]]

